.place__image {
    object-fit: cover;
    max-width: 35.94vw;
}

@media screen and (max-width: 1024px) {
    .place__image {
        max-width: 42.97vw;
    }
}

@media screen and (max-width: 768px) {
    .place__image {
        max-width: 44.27vw;
    }
}

@media screen and (max-width: 676px) {
    .place__image {
        max-width: 100%;
        justify-self: center;
    }
}