.lead__title {
    max-width: 720px;
    margin: 0 auto 32px;
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .lead__title {
        max-width: 100%;
        line-height: 13.1vw;
        font-size: 12.5vw;
    }
}

@media screen and (max-width: 425px) {
    .lead__title {
        max-width: 288px;
        margin-bottom: 15px;
        font-size: 40px;
        line-height: 44px;
    }
}