.place__paragraph {
    margin: 0;
    margin-bottom: 26px;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 425px) {
    .place__paragraph {
        margin: 0 16px 25px;
    }
}

.place__paragraph:last-child {
    margin-bottom: 0;
}