.cover__title {
    margin: 0 auto;
    max-width: 560px;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 76px;
    text-align: center;
    color: #fff;
    position: relative;
}

@media screen and (max-width: 768px) {
    .cover__title {
        font-size: 9.38vw;
        line-height: 106%;
    }
}

@media screen and (max-width: 425px) {
    .cover__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 109%;
    }
}