.place__url-heading {
    color: #AAA;
    margin: 0 0 8px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-align: left;
    align-self: end;
    text-transform: uppercase;
}

@media screen and (max-width: 768px){
    .place__url-heading {
        margin: 0 0 12px;
    }
}